.navbar {
  border: 1px solid black;
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > h1 {
    margin: 0 0;
    font-size: 22px;
    font-weight: 500;
}

i.fa-bars {
    font-size: 1.5rem;
}
